
.main-container {
    max-width: 80%;
    margin: 0 auto;
    border: solid 1px #ccc;   
    font-family: 'Courier New', Courier, monospace;
    padding: 6px;
}

.main-container H1 {
    text-align: center;
}

.code {
    padding: 18px -8px -8px 8px;
    background-color: #eee;
    width: 100%;
    display: block;

}


code {
    display: inline-block;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}


TH {
    font-weight: 300;
    text-align: right;
}